.nav-item {
    padding: 0.2em 2em;
    background-color: rgba(0,0,0,0.05);
    margin: 0.2em 0.5em 0.3em 0.5em;
}

.selected {
    font-weight: bold;
}

a {
    color: black;
    font-size: 1.1em;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #66a;
}
